.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="file"] {
    margin-bottom: 10px;
}

.upload-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;

}

.upload-btn:hover {
    background-color: #0056b3;
}

.upload-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;

}

.file-upload {
    display: flex;
    align-items: center;
}


.summary-table {
    margin-top: 20px;
}

.start-service-btn{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}


.start-service-btn:hover {
    background-color: darkgreen;
}

.start-service-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;

}


.input-container {
    margin-bottom: 10px;
    padding: 10px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.file{
    padding-left: 30px;
    padding-top: 20px;
}